.contenido {
    font-size: 1rem;
    line-height: 20px;
    padding: 90px;
    box-sizing: content-box;
    position: absolute;
    left: 600px;
}

.boton_servicios {
   padding: 10px 40px;
   margin: 0px 10px;
   color: aliceblue;
   cursor: pointer;
   background-color: #005E7C;
   border-radius: 10px;
   border: none;
}

.imagen {
    padding: 40px;
    box-sizing: content-box;
    position: relative;
    top: 60px;
    width: 80%;

}

.contenido2 { 
    line-height: 25px;
    box-sizing: content-box;
    margin: 120px 80px;
    text-align: center;
}

.boton_contacto { 
    padding: 15px 80px;
    margin: 0px 40%;
    color: aliceblue;
    cursor: pointer;
    background-color: #001242;
    border-radius: 5px;
    border: none;
    margin: 20px;
}