body {
    background-color: #EBEBEB;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: #0094C6;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

.headerMenu {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #0094C6;
    box-shadow: 0px 2px 10px #525252;
    padding: 10px;
}

.headerMenu img {
    border-radius: 10px;
    height: 80px;
    width: 180px;
    margin-left: 120px;
}

nav {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #494949;
    border-radius: 10px;
    margin: 10px 60px;
    padding: 10px;
    height: 60px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 6px 5px;
}

nav ul li a {
    color: #040f16;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover {
    color: #0094C6
}

.subMenu{
    font-size: 1.6rem;
    cursor: pointer;
}

.subMenu .subMenuContainer {
    display: none;
    position: absolute;
    top: 80px;
    right: 40px;
    z-index: 1000;
}

.subMenu .subMenuContainer ul{
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.subMenu .subMenuContainer ul li{
    border-bottom: 1px solid #0094c6;
    cursor: pointer;
    padding: 5px 20px;
}

.subMenu .subMenuContainer ul li a{
    font-size: 0.900rem;
    width: 200px;
}

.subMenu .subMenuContainer ul li a:hover{
    color: #0094c6;
}

.border-0094c6{
    border: solid 2px #0094c6 !important;
    border-radius: 10px;
}

.text-0094c6{
    color: #0094c6 !important;
}

.bg-0094c6{
    background-color: #0094c6 !important;
}

.btn-shadow{
    box-shadow: 3px 3px 6px gray !important;
}

.hover-scale:hover{
    transform: scale(1.025) !important;
}

.tachado{
    text-decoration: line-through red;
}

/* Footer */

footer{
    background-color: #001242;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
}

.containerFooter{
    margin: 60px 20px;
    color: #ffffff;
}

.logoContainer img {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
    margin: 20px 0px;
}

.containerFooter h4{
    color: #0094C6;
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.containerFooter p{
    margin: 40px 20px;
}

.containerSocialMedia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerSocialMedia a{
    background-color: #EBEBEB;
    border-radius: 50px;
    font-size: 1.5rem;
    color: #0094C6;
    padding: 20px;
}

.containerSocialMedia a:hover{
    background-color: #0094C6;
    color: #ffffff;
}

.copyright{
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
}